@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  overflow: hidden;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin-top: -100px;
  position: relative;
}

.title span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible,
.title.-visible span {
  transform: translate(0, 0);
}

/****** Base style. ******/
body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


