/* 全体の背景と基本スタイル */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .create-color-screen {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* ヘッダー */
  .header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
  }
  
  .header p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  /* カラーボールの円 */
  /* .circle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border-radius: 50%;
    animation: rotate 20s linear infinite;
  } */

  .circle {
    position: relative;
    top: 20%;
    left: 48%;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 50%;
    transform-origin: center;
    animation: rotate 30s linear infinite;
    transform: translate(-30%, -30%);
  }
  
  /* 回転アニメーション */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* カラーボール */
  .rotating-ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .rotating-ball.selected {
    border: 3px solid white;
  }
  
  /* 次へボタン */
  #next-button {
    background-color: #f0f0f0;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  #next-button.visible {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  
  #next-button:hover {
    background-color: #d9d9d9;
  }
  