body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .home, .color-selection {
    padding: 20px;
  }

  .home-screen {
    background-color: black; 
    color: white; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
  }
  
  .text-container {
    text-align: Light; 
    margin-top: 200px; 
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  .ok-button, .next-button {
    background-color: #f0f0f0; 
    color: black;
    border: none;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .ok-button:hover, .next-button:hover {
    background-color: #45a049;
  }
  
  .color-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .color-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
  }
  